<form name="edit_post_form" method="post" action="/edit_post">
  <ul>
    <li>title<input type="text" name="title" value="<%= @post.title %>"> </li>    
    <li>price<input type="text" name="price" value="<%= @post.price%>"> </li>
    <li>description<input type="text" name="description" value="<%= @post.description %>"/></li>
    <li>category

      <select name="category_id">
        <option value="1" <%= "selected" if @post.category_id == 1%>>Rentals</option>
        <option value="2" <%= "selected" if @post.category_id == 2%>>Jobs</option>
      </select>
    </li> 
    <li><input type="hidden" name="secret_key" value="<%= @post.secret_key %>"></li>

  </ul>
  <input type="submit" value="edit">
</form>

<!-- # what is type? -->
<!-- wnat it be a dropdownbar -->

<!-- def selected?(@post, id)
  return "selected" if @post.cateogry_id == id
end -->